footer {
  .container-fluid.promo {
    .row {
      height: 20vh;
      background-color: #f3f4f3;
      color: #000;
      font-size: 1.2rem;
      text-align: left;
    }
  }
  min-height: 35vh;
  background-image: url(../assets/footer.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5rem;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  ul {
    height: 30vh;
    list-style-type: none;
    li {
      margin: 1rem;
    }
  }
}
