<!doctype html>
<html lang="en">
    <head>
        <title>BOTANIST 植迷不悟 衰運退散｜開運植栽｜桃花招財｜平安納福 </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS v5.0.2 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&family=Noto+Sans+TC:wght@100;500&family=Righteous&display=swap" rel="stylesheet">
        <link rel="icon" href="./assets/favicon-32x32.png" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
                       <div class="container-fluid">
                    <a class="navbar-brand mx-5" href="index.html"><h1>Botanist</h1></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-lg-0 ">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">首頁</a>
                        </li>
                        <a class="nav-link" href="#" >會員註冊</a>
                        </li>
                        </li>
                        <a class="nav-link" href="#">關於我們</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              商品一覽
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">開運植物</a>
                              <a class="dropdown-item" href="#">開運花卉</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li>
                        <li class="nav-item">
                        <a class="nav-link" href="cart.html"><i class="fas fa-cart-plus"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-heart"></i></a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid banner ">
                <div class="row d-flex justify-content-center align-items-center flex-column flex-nowrap">
                    
                    <div class="col col-6">
                        <h2>植迷不悟</h2>
                        <p>搜羅全台最齊全開運植物！趨吉避凶，廣結善緣，招財進廣都在這裡！！！</p>
                    </div>

                    <div class="col col-5 mt-3">
                        <ul>
                            <li>風水</li>
                            <li>擋煞</li>
                            <li>招財</li>
                            <li>桃花</li>
                            <li>健康</li>
                        </ul>
                    </div>
                    <button>SHOP NOW</button>
                </div>
            </div>
        </header>

        <section>
            <div class="container mt-5 best-seller">
                <h2>Best Sellers 熱銷植栽</h2>

                <div class="row row-cols-sm-4 d-flex justify-content-center gy-5 ">

                    <div class="col col-3 d-flex flex-column justify-content-center align-items-center">
                        
                            <img src="https://www.2ustyle.com/wp-content/uploads/2020/07/IMG_5697-final.jpg">
                        <div class="mt-5">
                            <h5 class="">斑葉常春藤盆栽</h5>
                            <p class="">趨吉避凶</p>
                            <p> 價格：500 NTD</p>
                        </div>
                    </div>
                    <div class="col col-3 d-flex flex-column justify-content-center align-items-center">
                        
                        <img src="https://www.2ustyle.com/wp-content/uploads/2018/10/DSCF5094.jpg">
                        <div class="mt-5">
                                
                            <h5 class="">粉紅佳人合果芋盆栽</h5>
                            <p class="">趨吉避凶</p>
                            <p> 價格：500 NTD</p>
                        </div>
                    </div>                    
                    <div class="col col-3 d-flex flex-column justify-content-center align-items-center">
                        
                        <img src="https://www.2ustyle.com/wp-content/uploads/2018/10/DSCF5101.jpg">
                        <div class="mt-5">
                                
                            <h5 class="">奧利多蔓綠絨盆栽</h5>
                            <p class="">趨吉避凶</p>
                            <p> 價格：500 NTD</p>
                        </div>
                    </div>                    
                    <div class="col col-3 d-flex flex-column justify-content-center align-items-center">
                        
                        <img src="https://www.2ustyle.com/wp-content/uploads/2017/12/DSCF4152.jpg">
                        <div class="mt-5">
                                
                            <h5 class="">虎尾蘭盆栽</h5>
                            <p class="">趨吉避凶</p>
                            <p> 價格：500 NTD</p>
                        </div>
                    </div>                    
                    <div class="col col-3 d-flex flex-column justify-content-center align-items-center">
                        
                        <img src="https://www.2ustyle.com/wp-content/uploads/2018/05/DSCF4099.jpg">
                        <div class="mt-5">
                                
                            <h5 class="">白金葛盆栽</h5>
                            <p class="">趨吉避凶</p>
                            <p> 價格：500 NTD</p>
                        </div>
                    </div>                    
                    <div class="col col-3 d-flex flex-column justify-content-center align-items-center">
                        
                        <img src="https://www.2ustyle.com/wp-content/uploads/2019/09/IMG_4029-final.jpg">
                        <div class="mt-5">
                                
                            <h5 class="">富貴樹 / 芹葉福祿桐盆栽</h5>
                            <p class="">趨吉避凶</p>
                            <p> 價格：500 NTD</p>
                        </div>
                    </div>                    
                    <div class="col col-3 d-flex flex-column justify-content-center align-items-center">
                        
                        <img src="https://www.2ustyle.com/wp-content/uploads/2020/10/IMG_3293-final.jpg">
                        <div class="mt-5">
                                
                            <h5 class="">開運竹盆栽</h5>
                            <p class="">趨吉避凶</p>
                            <p> 價格：500 NTD</p>
                        </div>
                    </div>                    
                    <div class="col col-3 d-flex flex-column justify-content-center align-items-center">
                        
                        <img src="https://www.2ustyle.com/wp-content/uploads/2021/05/IMG_4753-final.jpg">
                        <div class="mt-5">
                                
                            <h5 class="">黃金葛</h5>
                            <p class="">趨吉避凶</p>
                            <p> 價格：500 NTD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid sub-banner mt-5 d-flex justify-content-center align-items-center">
                <p>「離離原上草，一歲一枯榮。」——— 唐・白居易</p> 
            </div>
            <div class="container category mt-5">
                <h2>運勢提升</h2>
                <div class="row row1 row-cols-2 d-flex justify-content-center g-0 ">
                    <div class="col col-6 love d-flex align-items-center" ><a href="#" class="mt-5">桃花</a></div>
                    <div class="row row2 g-0 row-cols-2 d-flex justify-content-center ">
                        <div class="col col-6"><a href="#" class="mt-5">招財</a></div>
                        <div class="col col-6"><a href="#" class="mt-5">納福</a></div>
                        <div class="col col-6"><a href="#" class="mt-5">避邪</a></div>
                        <div class="col col-6"><a href="#" class="mt-5">健康</a></div>
                    </div>
                </div>
            </div>
            
        </section>

        <footer >
            <div class="container-fluid promo">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-truck-fast mx-3 h1"></i>
                        <span><strong>消費滿1,000 TWD 免運</strong><br>
                            全店植栽不分品項，單筆消費滿額即刻享受免運費乙次。
                        </span>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-shield mx-3 h1"></i>
                        <span><strong>30天植栽存活率保證退款</strong><br>
                            我們為所有的植栽提供30天的鑑賞期，不怕黑手指摧殘！
                        </span>
                    </div>
                </div>
            </div>
            <ul class="d-flex justify-content-center align-items-center ">
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-instagram-square"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
            </ul>
        </footer>
        
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/3dd8e6c5c5.js" crossorigin="anonymous"></script>
    </body>
</html>