body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body h1 {
  font-family: Lobster Two, cursive;
  color: #d2ffef;
}

footer {
  min-height: 10vh;
  background-image: url(../assets/footer.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

footer .container-fluid.promo .row {
  height: 20vh;
  background-color: #f3f4f3;
  color: #000;
  font-size: 1.2rem;
  text-align: left;
}

footer ul {
  height: 30vh;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  
}

footer ul li {
  margin: 1rem;
}

footer .fab {
  cursor: pointer;
  transition: .2s;
}

footer .fab:hover {
  color:rgba(210, 255, 239);
}

header {
  min-height: 70vh;
  background-image: url(../assets/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header nav .dropdown-menu {
  background: rgba(0,0,0, 0.5);
}

header nav .dropdown-menu .dropdown-item {
  color: #fff;
  transition: 0.2s;
}

header nav .dropdown-menu .dropdown-item:hover {
  background:rgba(210, 255, 239, 0.7);
  color: #000;
}

header .banner {
  margin-top: 5rem;
  background-color: rgba(210, 255, 239, 0.6);
}

header .banner .form-floating input {
  height: 60px;
  background: rgba(255, 255, 255, 0.6);
}

header .banner .row {
  text-align: center;
  margin: 0;
  padding: 0;
}

header .banner .row h3 {
  font-family: Noto Sans TC, sans-serif;
  font-size: 3rem;
}

header .banner .row h3::first-letter {
  font-size: 5rem;
}

header .banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  list-style-type: none;
  width: 100%;
  padding: 0;
  font-size: 3rem;
}

header .banner ul li {
  margin: 0 10px;
  transition: 0.2s;
}

header .banner ul li:hover {
  cursor: pointer;
  color: #d2ffef;
}

header .banner .row button {
  width: 8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #d2ffef;
  -webkit-box-shadow: 1px 1px 1px #fff;
          box-shadow: 1px 1px 1px #fff;
  transition: 0.2s;
}

header .banner .row button:hover {
  background-color: #4e6853;
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  header .banner .row {
    height: 65vh;
  }
  header .banner .row ul {
    padding: 0;
  }
  header .banner .row .col-6 h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  header .banner .row .col-6 h2::first-letter {
    font-size: 6rem;
  }
}
